@model IEnumerable<OrderList>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">
                Order List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Order" asp-action="Create" class="btn btn-primary">Add new Oder</a>
        </div>
    </div>
    <table class="border table table-striped">
        <thead>
            <tr>
                <th width:20%>
                    Id
                </th >
                <th width:30%>
                    Title
                </th>
                <th width:40%>
                    Description
                </th>
                <th width:10%>
                    Stock
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.Title
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td>
                    @if(obj.Stock == 0)
                    {
                        <textarea>Out Of Stock</textarea>
                    }
                        @obj.Stock
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>